(
  rooms: [
    (
      id: 0,
      position: (
        x: 0.0,
        y: 0.0,
        z: 0.0,
      ),
      vertices: [
        (x: 0.0, y: 256.0, z: 0.0),
        (x: 0.0, y: 256.0, z: 1024.0),
        (x: 1024.0, y: 256.0, z: 1024.0),
        (x: 1024.0, y: 0.0, z: 0.0),
        (x: -1024.0, y: -0.0, z: 0.0),
        (x: -1024.0, y: 256.0, z: 1024.0),
        (x: 0.0, y: 256.0, z: 1024.0),
        (x: 0.0, y: 256.0, z: 0.0),
        (x: -1024.0, y: 0.0, z: -1024.0),
        (x: -1024.0, y: 0.0, z: 0.0),
        (x: 0.0, y: 256.0, z: 0.0),
        (x: 0.0, y: 0.0, z: -1024.0),
        (x: -2048.0, y: 0.0, z: -1024.0),
        (x: -2048.0, y: 0.0, z: 0.0),
        (x: -1024.0, y: 0.0, z: 0.0),
        (x: -1024.0, y: 0.0, z: -1024.0),
        (x: -2048.0, y: 0.0, z: 0.0),
        (x: -2048.0, y: 0.0, z: 1024.0),
        (x: -1024.0, y: 256.0, z: 1024.0),
        (x: -1024.0, y: 0.0, z: 0.0),
        (x: 0.0, y: 0.0, z: -1024.0),
        (x: 0.0, y: 256.0, z: 0.0),
        (x: 1024.0, y: 0.0, z: 0.0),
        (x: 1024.0, y: 0.0, z: -1024.0),
        (x: 0.0, y: 0.0, z: -2048.0),
        (x: 0.0, y: 0.0, z: -1024.0),
        (x: 1024.0, y: 0.0, z: -1024.0),
        (x: 1024.0, y: 0.0, z: -2048.0),
        (x: -1024.0, y: 0.0, z: -2048.0),
        (x: -1024.0, y: 0.0, z: -1024.0),
        (x: 0.0, y: 0.0, z: -1024.0),
        (x: 0.0, y: 0.0, z: -2048.0),
      ],
      faces: [
        (indices: (0, 1, 2, 3), is_triangle: false, texture: (pack: "retro-texture-pack", name: "FLOOR_1A"), double_sided: false, face_type: Floor),
        (indices: (4, 5, 6, 7), is_triangle: false, texture: (pack: "retro-texture-pack", name: "HEDGE_1A"), double_sided: false, face_type: Floor),
        (indices: (8, 9, 10, 11), is_triangle: false, texture: (pack: "retro-texture-pack", name: "HEDGE_1A"), double_sided: false, face_type: Floor),
        (indices: (12, 13, 14, 15), is_triangle: false, texture: (pack: "retro-texture-pack", name: "HEDGE_1A"), double_sided: false, face_type: Floor),
        (indices: (16, 17, 18, 19), is_triangle: false, texture: (pack: "retro-texture-pack", name: "GRASS_1A"), double_sided: false, face_type: Floor),
        (indices: (20, 21, 22, 23), is_triangle: false, texture: (pack: "", name: ""), double_sided: false, face_type: Floor),
        (indices: (24, 25, 26, 27), is_triangle: false, texture: (pack: "", name: ""), double_sided: false, face_type: Floor),
        (indices: (28, 29, 30, 31), is_triangle: false, texture: (pack: "", name: ""), double_sided: false, face_type: Floor),
      ],
      portals: [],
      ambient: 0.5,
    ),
  ],
  editor_layout: (
    main_split: 0.25,
    right_split: 0.75,
    left_split: 0.11481056,
    right_panel_split: 0.6,
  ),
)