(
  rooms: [
    (
      id: 0,
      position: (
        x: 0.0,
        y: 0.0,
        z: 0.0,
      ),
      width: 2,
      depth: 2,
      sectors: [
        [Some((floor: Some((heights: (0.0, 0.0, 0.0, 0.0), texture: (pack: "sanaart-tiles", name: "grass_green"), uv: None, walkable: true, blend_mode: Opaque)), ceiling: None, walls_north: [], walls_east: [], walls_south: [], walls_west: [])), Some((floor: Some((heights: (0.0, 0.0, 0.0, 0.0), texture: (pack: "sanaart-tiles", name: "grass_green"), uv: None, walkable: true, blend_mode: Opaque)), ceiling: None, walls_north: [], walls_east: [], walls_south: [], walls_west: []))],
        [Some((floor: Some((heights: (0.0, 0.0, 0.0, 0.0), texture: (pack: "sanaart-tiles", name: "grass_green"), uv: None, walkable: true, blend_mode: Opaque)), ceiling: None, walls_north: [], walls_east: [], walls_south: [], walls_west: [])), Some((floor: Some((heights: (0.0, 0.0, 0.0, 0.0), texture: (pack: "sanaart-tiles", name: "grass_green"), uv: None, walkable: true, blend_mode: Opaque)), ceiling: None, walls_north: [], walls_east: [], walls_south: [], walls_west: []))],
      ],
      portals: [],
      ambient: 0.5,
    ),
  ],
  editor_layout: (
    main_split: 0.25,
    right_split: 0.75,
    left_split: 0.6,
    right_panel_split: 0.6,
  ),
)